version: 2.1

orbs:
  node: circleci/node@5.0.2
  coveralls: coveralls/coveralls@2.0.0

jobs:
  say-hello:

    docker:
      - image: cimg/base:stable

    steps:
      - checkout
      - run:
          name: "Team-techsmith-e-commerce tests"
          command: "echo Hello, World!"

  Test_and_Send_Coverage: 
    executor: node/default 
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: npm install
          name: Install Dependencies
          environment: 
            DB_NAME: $DB_NAME
            DB_USERNAME: $DB_USERNAME
            DB_PASSWORD: $DB_PASSWORD
            DB_UR: $DB_UR
            COVERALLS_REPO_TOKEN: $COVERALLS_REPO_TOKEN  
      - run:
          command: npm ci
          name: Install Packages
      # - run: npm run start & npm run test
      # - run: sleep 10
      - run:
          command: npm run test
          name: Run tests
      - run: 
          name: code-coverage
          command: npm run coverage
      - coveralls/upload

workflows:
  say-hello-workflow:
    jobs:
      - say-hello
  Test_and_Covarage:
    jobs:
      - Test_and_Send_Coverage
