@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    width: 80%;
    margin: auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    gap: .5rem;
}

svg {
    width: 1.6rem;
    height: 1.6rem;
}

h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    margin: 0;
}

p {
    font-size: 1.6rem;
    margin: 0;
}